<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/app.css">
<link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form id="rooms" class="form-inline">
        <div class="form-group">
          <label for="room-name">Room name</label>
          <input type="text" class="form-control" id="room-name" required placeholder="Room A">
        </div>
        <button type="submit" class="btn btn-default">Start</button>
      </form>
    </div>
  </div>
</div>

<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/room.js"></script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27385007-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
