<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/app.css">
<link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form id="rooms" class="form-inline">
        <div class="form-group">
          <label for="room-name">Room name</label>
          <input type="text" class="form-control" id="room-name" required placeholder="Room A">
        </div>
        <button type="submit" class="btn btn-default">Start</button>
      </form>
    </div>
  </div>
</div>

<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/room.js"></script>
</body>
</html>
